DEVICE_UID=DEV_001
PRODUCTION_MODE=true

CAMERA_INDEX=0
IS_WEB_CAM=false
FRAME_WIDTH=1280
FRAME_HEIGHT=720

TEST_USER_UID=agjtuFg6YIcJWNfbDsc8QAlMEtj1
TEST_USERNAME=honey

TURN_SERVER_URL=XXX.XXX.XX.XXX:XXXX
TURN_USERNAME=XXXXXXXX
TURN_PASSWORD=XXXXXXXX

# Not used in code, instead this is done with hard-coded
DATABASE_URL=https://chick-up-1c2df-default-rtdb.asia-southeast1.firebasedatabase.app/